//fonts
$main-font: "Red Hat Display", Arial;

//colors
$header-color:  #d7d7d7;
$carousel-color: #263a49;
$black-main: #151515;
$white: #ffffff;
$grey-desc: #454545;
$grey-footer: #858585;
$grey-placeholder: rgba(69,69,69,0.5);

//brakepoints