//fonts
$main-font: "Red Hat Display", Arial;

//colors
$carousel-color: #263a49;
$black-main: #151515;
$black-product: #111111;
$white: #ffffff;
$grey-desc: #454545;
$grey-footer: #858585;
$grey-cross: #959595;
$grey-form: #eeeeee;
$grey-placeholder: rgba(69,69,69,0.5);

//brakepoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1920px;